p {
    display: inline;
    font-size: 2em;
    color: #fff;
    width: 600px;
    margin-top: 60px;
}

p:nth-child(odd){
    background-color: blue;
}

p:nth-child(even){
    background-color: orange;
}

p:nth-child(1n+3){
    display: block;
}

a{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: orange;
    color: blue;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
    line-height: 250px;
}

