/*
p {
    display: inline;
    font-size: 2em;
    color: #fff;
    width: 600px;
    margin-top: 60px;
}

p:nth-child(odd){
    background-color: blue;
}

p:nth-child(even){
    background-color: orange;
}

p:nth-child(1n+3){
    display: block;
}
*/

a{
    display: inline-block;
    width: 250px;
    height: 250px;
    background-color: orange;
    color: blue;
    font-size: 1.2em;
    margin: 10px;
    text-align: center;
    line-height: 250px;
}

img {
    float:right;
}

p:nth-child(3){
    clear: both;
}

#slonik {
    float: none;
    height: 100px;
    width: 100px;
/*
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
*/
    
/*    transition: all 5s ease 0.5s;*/
    
    transition: width 5s linear .5s, height 3s linear .5s;
}

#slonik:hover{
    height: 300px;
    width: 300px;
}